body{
  background-color: #01161e;
  background-image: linear-gradient(to right, #01161E, #eff6e020, #01161E);
  font-family: 'K2D', sans-serif;
  color: #FFFFFF;
  overflow-x: hidden;
}

.container {
  margin: auto;
  width: 95%;
  padding: 25px;
}
